* {
    box-sizing: border-box;
}
header {
    border: solid 1px black;
}
h1 {
    border: dotted 3px red;
}
section {
    border: dashed 5px blue ;
    padding: 10px;
}
article {
    margin: 30px 0px;
    padding: 10px 10px;
}
section {
    margin: 30px 0px;
}
body {
    padding: 20px;
}